.side-bar
  .side-bar__user
    .side-bar__user__name
      %p
        = current_user.name
    .side-bar__user__icons
      = link_to new_chat_group_path, class:'side-bar__user__icons--white' do
        %i.fa.fa-pencil-square-o
      = link_to edit_user_path(current_user), class:'side-bar__user__icons--white' do
        %i.fa.fa-cog
  .side-bar__groups
    - @chat_groups.each do |chat_group|
      = link_to chat_group_messages_path(chat_group) do
        .side-bar__groups__individual
          %h3
            = chat_group.name
          %p
            = chat_group.latest_message
