= render 'layouts/parts/sidebar'

.main-content
  .main-content__header
    .main-content__header__info
      %h2
        = @chat_group.name
      %p member:
      - @chat_group.users.each do |user|
        = user.name
    = link_to edit_chat_group_path(@chat_group), class:'main-content__header__button' do
      %p Edit
  .main-content__chat-area
    - @messages.each do |msg|
      .main-content__chat-area__message
        .main-content__chat-area__message__info.clearfix
          %h3
            = msg.user.name
          %p
            = msg.created_at
        .main-content__chat-area__message__text
          %p
            = msg.body
  .main-content__send-box
    = form_for [@chat_group, @message] do |f|
      = f.text_area :body, placeholder: 'メッセージを入力してください', class: 'main-content__send-box__text-area'
      .main-content__send-box__image
        = f.label :image, class:'main-content__send-box__image' do
          %i.fa.fa-picture-o
        = f.file_field :image, style: 'display: none;'
      = f.submit 'Send', class: 'main-content__send-box__button'
