- if chat_group.errors.any?
  #error_explanation.chat-group-form__errors
    %h2
      #{ chat_group.errors_count }件のエラーが発生しました。
      %ul
      - chat_group.error_messages.each do |msg|
        %li
          = msg

.chat-group-form__field
  .chat-group-form__field__group-name
    .chat-group-form__field--left
      = f.label :name, 'グループ名', class: 'chat-group-form__label'
    .chat-group-form__field--right
      = f.text_field :name, placeholder: 'グループ名を入力してください', id: 'chat_group_name', class: 'chat-group-form__input'
  .chat-group-form__field__search-field
    / この部分はインクリメンタルサーチ（ユーザー追加の非同期化のときに使用します
    .chat-group-form__field--left
      %label.chat-group-form__label
        チャットメンバーを追加
    .chat-group-form__field--right
      .chat-group-form__search.clearfix
        %input{class: 'chat-group-form__input', id: 'user-search-field', placeholder: '追加したいユーザー名を入力してください', type: 'text'}
      #user-search-result

  .chat-group-form__field__member
    .chat-group-form__field--left
      = f.label :user_ids, 'チャットメンバー', class: 'chat-group-form__label'
    .chat-group-form__field--right
      #chat-group-users
        .chat-group-user.clearfix#chat-group-user-22
          %p{class: 'chat-group-user__name'}
            seo_kyohei

  .chat-group-form__field__submit
    =f.submit '作成する', class: 'chat-group-form__action-btn'

-#  .chat-group-form__field--right
-#    = f.collection_check_boxes :user_ids, User.all, :id, :name do |b|
-#      = b.label { b.check_box + b.text }
-#      / グループ作成機能の追加時はここにcollection_check_boxesの記述を入れてください
-#      / この部分はインクリメンタルサーチ（ユーザー追加の非同期化のときに使用します

-#        <input name='chat_group[user_ids][]' type='hidden' value='22'>
-#        </div>
-#        </div>

-#.chat-group-form__field.clearfix
-#  .chat-group-form__field--left